active
bin/
checkversion*.html
.coverage
.db-version
develop-eggs/
htmlcov/
.idea/
imports/*
!imports/.keep
include/
.installed.cfg
lib/
local/
*.log
log.html
mailqueue/
.mr.developer.cfg
output.xml
parts/
pip-selfcheck.json
pipeline*.cfg
.plone.versioncheck.*
port*/
.python-version
python-eggs/
pyvenv.cfg
report.html
.scripts/
send-blobsize.sh
.sizes.json
share/
src/
update-admin-password.*
var/
.vscode/
